<!--------------------------------------------------------------------->
<!-- new login -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="login-block">
        <div class="container">
                <div class="row">
                        <div class="col-md-4 login-sec">
                                <h2 class="text-center">Login Now</h2>
                                <form class="login-form">
                                        <form role="form" #form="ngForm" autocomplete="off" (submit)="validLogin(form)">
                                                <div class="form-group">
                                                        <label for="exampleInputEmail1"
                                                                class="text-uppercase">Username</label>
                                                        <!-- <input type="text" class="form-control" placeholder="">-->
                                                        <input name="username" class="form-control"
                                                                placeholder="Enter name" #username="ngModel"
                                                                [(ngModel)]="login.username" required>
                                                        <div class="validation-error"
                                                                *ngIf="username.invalid && username.touched"
                                                                style="color: red">*Username is required</div>

                                                </div>
                                                <div class="form-group">
                                                        <label for="exampleInputPassword1"
                                                                class="text-uppercase">Password</label>
                                                        <!-- <input type="password" class="form-control" placeholder="">-->
                                                        <input name="password" type="password" class="form-control"
                                                                placeholder="Enter Password" #password="ngModel"
                                                                [(ngModel)]="login.password" required>
                                                        <div class="validation-error"
                                                                *ngIf="password.invalid && password.touched"
                                                                style="color: red">*Password is required</div>

                                                </div>



                                                <div class="form-check">

                                                        <div>{{message}}</div><br>
                                                        <br>
                                                        <input type="submit" value="submit" [disabled]="form.invalid"
                                                                class="btn btn-info btn-block">
                                                </div>

                                        </form>
                                </form>
                                <div class="copy-text"> <i class="fa fa-user-md fa-3x"></i></div>
                        </div>
                        <div class="col-md-8 banner-sec">
                                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                                <li data-target="#carouselExampleIndicators" data-slide-to="0"
                                                        class="active"></li>
                                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                        </ol>
                                        <div class="carousel-inner" role="listbox">
                                                <div class="carousel-item active">
                                                        <img class="d-block img-fluid"
                                                                src="https://wonderfulengineering.com/wp-content/uploads/2014/07/Hi-Tech-Wallpaper-11.jpg"
                                                                alt="First slide">
                                                        <div class="carousel-caption d-none d-md-block">
                                                                <div class="banner-text">

                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="carousel-item">
                                                        <img class="d-block img-fluid"
                                                                src="https://wallpaperplay.com/walls/full/4/0/4/187246.jpg"
                                                                alt="First slide">
                                                        <div class="carousel-caption d-none d-md-block">
                                                                <div class="banner-text">

                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="carousel-item">
                                                        <img class="d-block img-fluid"
                                                                src="https://wonderfulengineering.com/wp-content/uploads/2014/07/Hi-Tech-Wallpaper-11.jpg"
                                                                alt="First slide">
                                                        <div class="carousel-caption d-none d-md-block">
                                                                <div class="banner-text">

                                                                </div>
                                                        </div>
                                                </div>
                                        </div>

                                </div>
                        </div>
                </div>
        </div>

</div>